  body{
    background-color: rgb(212, 0, 255);
}
 .container{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item1{
    background-color: rgb(255, 3, 179);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: right;
    flex: 1;
  
}
