body{
    background-color: blanchedalmond;
}
.container{
    height: auto;
    width: 100vw;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.item1{
    background-color: rgb(148, 77, 77);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: right;
    font-size: xx-large;
}