.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.item1{
    width: 200px;
    height: 200px;
    background-color: lightblue;
}
body{
    background-color: black;
}