body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    color: #222;
    line-height: 1.7;
}

header {
    background-color: #1c1c1c;
    color: white;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.8em;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

section h2 {
    color: #444;
    font-size: 1.8em;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

mark {
    background-color: #ffcc00; 
    color: #333;
    padding: 2px 4px;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

footer {
    background-color: #ddd;
   text-align: center;
    padding: 15px 0;
    margin-top: 50px;
    font-size: 0.9em;
    color: #555;
}