.item1{
    background-color: black;
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-right: 20px;
}

.item2{
    background-color: black;
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-right: 20px;
}

.item3{
    background-color: black;
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-right: 20px;
}

.item4{ 
    background-color: black;
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-right: 20px;
}

.container1{
    justify-content: space-between;
    display: flex;
    padding: 20px;
}