 .footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #222;
  padding: 20px;
  margin-top: 40px;
}

.footer .card {
  background-color: #333;
  color: white;
  width: 30%;          
  height: 120px;
  margin: 0;            
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

