body{
    font-family: helvetica;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #a812cd;
    color: rgb(239, 239, 239);
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

main{
max-width: 900px;
margin: 30px auto;
padding: 0 20px;
}

section {
background-color: white;
margin-bottom: 25px;
padding: 20px 30px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
border-left: 5px solid #a812cd;
}

section h2 {
    color: black;
    padding-bottom: 10px;
    margin-top: 0;
}

footer{
    text-align: center;
    padding: 15px 0;
    background-color: #a812cd;
    color: #ffffff;
    margin-top: 20px;
    margin: 0;

}